.footer {
    background-color: #000016;
    color: #fff;
    padding: 30px;
    text-align: center;
}
.footer__title {
    font-size: 20px;
    font-weight: 600;   
}
.footer__copyright {
    margin-top: 10px;
    
}